* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#home {
    position: relative;
    background: url(../img/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%; 
    z-index: 1;
}

#home::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .68;
    background: #000;
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
}

.logo i, .logo h1 {
    font-size: 1.7rem;
}

.logo i {
    padding: 0 .5rem 0 2rem;
}

.navbar-flex {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding:  0 2rem;
}

.navbar-flex ul {
    display: flex;
    list-style: none;
}


.navbar-flex ul li {
    transition: border .5s ;
}

.navbar-flex ul li a {
    display: block;
    padding: 1.5rem 2rem;
    color: #fff;
    border-bottom: 1px solid transparent;
}

.navbar-flex ul li:hover {
    background: #ffffff09;
    border-bottom: 1px solid var(--primary-color);
}

.navbar-flex::before {
    position: absolute;
    content: " ";
    background: #fff;
    opacity: .03;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#show-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#show-content h1 {
    font-size: 3rem;
}

#show-content p {
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
}

#show-content p.btn {
    font-size: 1rem;
    transition: .5s all ease;
}

#show-content p.btn:hover {
    background: var(--primary-color-dark);
}

.chevron {
    transition: .5s all ease;
    margin-right: .5rem;
}

#show-content .btn:hover .chevron{
    margin-right: 0rem;
}

/* about icons */
.flex-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3rem;
    color: var(--color-dark);
}

.flex-items .box-icon i{
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    color: var(--color-light);
}

.flex-items .box-icon h3{
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.flex-items .box-icon {
    padding: 1rem;
    line-height: 1.7em;
}

/* solutions */
.solutions-flex {
    display: flex;
    justify-content: center;
}

.solutions-flex .image-column img {
    height: 100%;
}

.content-column-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
 }

.content-column-flex h4{
    font-weight: 700;
}

.content-column-flex h3{
    font-weight: 200;
    font-size: 2rem;
    line-height: 4rem;
}

.content-column-flex p{
    line-height: 1.4rem;
    font-weight: 500;
}

.content-column-flex div a.btn {
    margin-top: 2rem;
}

/* cases */

.cases-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cases-header {
    padding: 4rem 0 2rem 0;
    line-height: 3rem;
}
.cases-header h4 {
    font-size: 1rem;
}
.cases-header h2 {
    font-weight: 1;
    font-size: 2.5rem;
}
.cases-header p {
    font-weight: 100;
    font-size: 1.2rem;
}

.cases-content {
    width: 100%;
    height: 100%;
}

.cases-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.cases-1, .cases-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases-1 > div > img, .cases-2 >div > img {
    display: inline-block;
    width: 20rem;
    height: 16rem;
    padding: 1rem;
}

.img > img {
    transition: .5s ease-in-out;
}

.img > img:hover {
    transform: scale(1.2);
}