:root {
    --primary-color: #ff7411;
    --primary-color-dark: #cc5500;
    --color-light: #fff;
    --color-dark: #000;
    --bg-dark: #333;
    --bg-light: #fff;
}

.text-primary-color {
    color: var(--primary-color);
}

.text-light-color {
    color: var(--text-color-light);
}
 /* btn  */
.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}

/* Btn colors */
.btn-color {
    background: var(--primary-color);
    color: var(--text-color-light);
}

.btn-dark {
    background: var();
}

/* backgrounds */

.bg-dark {
    background: var(--bg-dark);
    color: var(--text-color-light);
}